:root {
    --primary-color: #f3f3f3;
    --primary-color-1: #ffffff;
    --secondary-color: #141414;
    --secondary-color-1: #272727;
    --secondary-color-2: #323232;
    --error-color: red;

    --button-yes-bg: #ff4d4d;
    --button-yes-hover: #f87d7d;
    --button-yes-active: #faa2a2;

    --button-no-bg: #4da0ff;
    --button-no-hover: #8dc2fd;
    --button-no-active: #a2d7fa;

    --button-config-bg: #c0bfbf;
    --button-config-text: rgb(2, 2, 2);
    --button-config-hover: #e0d9d9;
    --button-config-active: #e9e5e5;

    --panel-bg: #f0f0f00e;
    --header-bg: #f0f0f005;
    --border-muted: #ccc;

    --status-bg: #161616;
    --status-border-color: darkblue;
    --warn-border-color: orange;

    --dialog-bg: #141414f3;
    --dialog-btn-border: #eeeaea28;
    --dialog-btn-hover-bg: #c0bfbf11;
    --popup-bg: #141414f6;
    --popup-button-bg: #15bb15;

    --border-dark: black;
    --border-light: #f3f3f3;
    --text-light: #f5f5f5;

    --session-time-text: #f7f4f4;
    --session-time-bg: rgba(12, 10, 0, 0.12);
    --session-time-border: rgba(154, 211, 255, 0.35);

    --text-muted: gray;
    --white: #fdfbfb;
    --button-white: white;
}
